.form {
  margin-top: 24px;
  max-width: 100%;
  max-height: 200px;
  margin-right: 14px;
}

.form-input {
  width: 100%; /* Set the default width to 100% */
  border: 2px solid lightgrey;
  height: 236px;
  border-radius: 8px;
  padding: 5px;
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
}

.generate {
  text-align: center;
}

.generate .generate-btn {
  margin-top: 20px;
}


